*.pyc
*.swp
*.pickle
**/.ipynb_checkpoints/**
*.egg-info
.pypirc
dist
build
scripts/training/texas_holdem/results/*
!scripts/training/texas_holdem/results/.gitkeep
scripts/training/one_round_poker/results/*
!scripts/training/one_round_poker/results/.gitkeep
