*.pyc
*.swp
*.pickle
**/.ipynb_checkpoints/**
*.egg-info
.pypirc
dist
build
scripts/training/tournament/results/*
!scripts/training/tournament/results/.gitkeep
scripts/training/*_round_poker/results/*
!scripts/training/*_round_poker/results/.gitkeep
